html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    background: #222;
    color: #eee;
}

.chat__container {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background: #444;
    border-radius: 5px;
    overflow: hidden;
}

.chat__header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #c64f4f;
    font-size: 14px;
    font-weight: 700;
}

.chat__message-board {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 0 15px;
    width: calc(100% - 30px);
}

.chat__message {
    width: calc(100% - 30px);
    display: flex;
    padding: 10px 0;
    position: relative;
    justify-content: flex-end;
}
.chat__message--self {
    float: right;
    flex-direction: row-reverse;
    text-align: right;
}
.chat__message--top, .chat__message--middle {
    padding-bottom: 0;
}
.chat__message--bottom, .chat__message--middle {
    padding-top: 0;
}

.chat__text-container {
    background-color: #ddd;
    color: #444;
    width: calc(100% - 115px);
    padding: 18px;
    border-radius: 2px;
}
.chat__text-container--top, .chat__text-container--middle {
    padding-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.chat__text-container--bottom, .chat__text-container--middle {
    padding-top: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.chat__text-container--pending {
    background-image: url('/icons/loading.gif');
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 15px;
}

.chat__message-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 12px 6px 0;
    border-color: transparent #ddd transparent transparent;
    margin-top: 20px;
}
.chat__message-arrow--self {
    border-width: 6px 0 6px 12px;
    border-color: transparent transparent transparent #ddd;
}
.chat__message-arrow--middle, .chat__message-arrow--bottom {
    display: none;
}

.chat__avatar {
    width: 56px;
    height: 56px;
    border-radius: 5px;
    border: 2px solid #ddd;
    position: absolute;
    background: #222 url(https://78.media.tumblr.com/avatar_478e09392730_128.png);
    background-size: cover;
    overflow: hidden;
}
.chat__avatar--self {
    right: 0;
    background: #222 url(https://pbs.twimg.com/profile_images/604172322744963073/Q6xDLL_D.png);
    background-size: cover;
}
.chat__avatar--admin, .chat__avatar--other {
    left: 0;
}
.chat__avatar--middle, .chat__avatar--bottom {
    display: none;
}

.chat__sender {
    text-transform: uppercase;
    color: #8e2002;
    font-size: 10px;
    margin-bottom: 2px;
}
.chat__sender--middle, .chat__sender--bottom {
    display: none;
}

.chat__text {
    font-size: 12px;
}

.chat__footer {
    height: 40px;
    background: #333;
    width: 100%;
}

.chat__input {
    height: 30px;
    border: 0;
    border-radius: 4px;
    margin: 5px;
    width: 370px;
}

.chat__button {
    background: #222222;
    border: 0;
    color: #bbb;
    height: 30px;
    margin: 5px 0;
    padding: 0 30px;
    width: 115px;
    cursor: pointer;
}
